section#footer {
background-color:#222227;
}
section#footer .wrap {

}
section#footer .wrap .foot_Top {

}
section#footer .wrap .foot_Top .Up {

}
section#footer .wrap .foot_Top .Up ul.group {
  grid-template-columns: 1fr auto 1fr;
  padding-top: 60px;
}
section#footer .wrap .foot_Top .Up ul.group > li {

}
section#footer .wrap .foot_Top .Up ul.group > li:nth-child(3) ul:nth-child(2){
  
  margin-top: 23px;
}
section#footer .wrap .foot_Top .Up ul.group > li>div {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto auto;
  row-gap: 25px;
  column-gap: 25px;
}
section#footer .wrap .foot_Top .Up ul.group > li:nth-child(3)>ul>li>a{
  
  line-height: 23px;
}
section#footer .wrap .foot_Top .Up ul.group > li > div>ul:nth-child(1){
}
section#footer .wrap .foot_Top .Up ul.group > li > div > ul li{
  
  line-height: 23px;
}
section#footer .wrap .foot_Top .Up ul.group > li > div>ul:nth-child(2){
  
  grid-column: 1;
  grid-row: 2;
}
section#footer .wrap .foot_Top .Up ul.group > li > div>ul:nth-child(3){
  
}
section#footer .wrap .foot_Top .Up ul.group > li > div > ul:nth-child(3) li:nth-child(1){
  
  margin-top: 36px;
}
section#footer .wrap .foot_Top .Up ul.group > li > div>ul:nth-child(4){
  
  grid-column: 2;
  grid-row: 2;
}
section#footer .wrap .foot_Top .Up ul.group > li > div > ul:nth-child(5){
  
  grid-row: 1;
  grid-column: 3;
  margin-top: 36px;
}
section#footer .wrap .foot_Top .Up ul.group > li > div > ul:nth-child(5) li:nth-child(1){
  
  align-self: self-end;
}
section#footer .wrap .foot_Top .Up ul.group > li > div > ul:nth-child(6){
  grid-row: 1 / span 2;
}
section#footer .wrap .foot_Top .Up ul.group > li > div > ul:nth-child(6) li:nth-child(1){
  
  margin-top: 36px;
}
section#footer .wrap .foot_Top .Up ul.group h6{
  
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}
section#footer .wrap .foot_Top .Up ul.group > li ul.grid {

}
section#footer .wrap .foot_Top .Up ul.group > li ul.grid > li {

}
section#footer .wrap .foot_Top .Up ul.group > li ul.grid > li h6 {

}
section#footer .wrap .foot_Top .Up ul.group > li ul.grid li {

}
section#footer .wrap .foot_Top .Up ul.group > li ul.grid li a.text {

  line-height: 23px;
}
section#footer .wrap .foot_Top .Up ul.group div.grid {


}
section#footer .wrap .foot_Top .Up ul.group div.grid > ul {

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(4,1fr);
}
section#footer .wrap .foot_Top .Up ul.group div.grid > ul > li {

}
section#footer .wrap .foot_Top .Up ul.group div.grid > ul > li h6 {

}
section#footer .wrap .foot_Top .Up ul.group div.grid > ul > li {

}
section#footer .wrap .foot_Top .Up ul.group div.grid > ul > li a.text {

}
section#footer .wrap .foot_Top .Up ul.group div.grid > ul > li {

  grid-column: 1 / span 4;
}
section#footer .wrap .foot_Top .Up ul.group div.grid > ul > li a.textW {

}
section#footer .wrap .foot_Top .Down {

  margin-bottom: 8px;
}
section#footer .wrap .foot_Top .Down > ul {

}
section#footer .wrap .foot_Top .Down > ul > li {

}
section#footer .wrap .foot_Top .Down > ul > li:nth-child(1) a {
  background-image: url(https://cdn1.carrotins.com/images/home/desktop/home-logo-white.webp?w=3840&q=75);
  font-size: 0;
  width: 188px;
  height: 42px;
  display: block;
  background-size: 58%;
  background-repeat: no-repeat;
}
section#footer .wrap .foot_Top .Down > ul li {

}
section#footer .wrap .foot_Top .Down > ul li ul.sns {

  display: flex;
}
section#footer .wrap .foot_Top .Down > ul li ul.sns li {
  margin-left: 18px;
}
section#footer .wrap .foot_Top .Down > ul li ul.sns li a {
  color: white;
  font-size: 0;
  display:block;
  width: 41px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}
section#footer .wrap .foot_Top .Down > ul li ul.sns li:nth-child(1) a{
  background-image:url(../img/instagram.svg);
}
section#footer .wrap .foot_Top .Down > ul li ul.sns li:nth-child(2) a{
  background-image:url(../img/naver.svg);
}
section#footer .wrap .foot_Top .Down > ul li ul.sns li:nth-child(3) a{
  background-image:url(../img/linkedin.svg);
}
section#footer .wrap .foot_Top .Down > ul li ul.sns li:nth-child(4) a{
  background-image:url(../img/youtube.svg);
}
section#footer .wrap .foot_Bottom {

}
section#footer .wrap .foot_Bottom::before{
  content:"";
  border-top: 0.5px solid #39393d;
  width: 100%;
  display: block;
  margin-bottom: 31px;
}
section#footer .wrap .foot_Bottom .fUp {

  display: flex;
  justify-content: space-between;
}
section#footer .wrap .foot_Bottom .fUp address {

  line-height: 25px;
}
section#footer .wrap .foot_Bottom .fUp address span.textW {

}
section#footer .wrap .foot_Bottom .fUp ul {

  display: flex;
  align-items: center;
}
section#footer .wrap .foot_Bottom .fUp ul > li {

}
section#footer .wrap .foot_Bottom .fUp ul > li a.textW {

}
section#footer .wrap .foot_Bottom .fDown {

  margin-top: 34px;
}
section#footer .wrap .foot_Bottom .fDown p.text {

  padding-bottom: 40px;
}