footer {
  color: 1;
}
footer .wrap {
  color: 1;
}
footer .wrap h1 {
  color: 1;
}
footer .wrap ul.pnb {
  color: 1;
}
footer .wrap ul.pnb li {
  color: 1;
}
footer .wrap ul.pnb li a {
  color: 1;
}
footer .wrap .flex {
  color: 1;
}
footer .wrap .flex ul.fnb {
  color: 1;
}
footer .wrap .flex ul.fnb li {
  color: 1;
}
footer .wrap .flex ul.fnb li a {
  color: 1;
}
footer .wrap .flex select {
  color: 1;
}
footer .wrap .flex select option {
  color: 1;
}
footer .wrap a {
  color: 1;
}
footer .wrap address {
  color: 1;
}
footer .wrap p {
  color: 1;
}